.soft{
    margin-top: 2rem;
    display: block;
    
}

.s_skills{
    margin: 0;
}

.skill_icon{
    justify-content: center;
    flex-direction: column;
    display: flex

}

.icon{
    width: 3rem;
    height: 3rem;
    margin-left: 26px;
    color: var(--color-primary-variant)
}
.title_skill{
    color: var(--color-primary-variant);
    padding: 10px;
}
.skills{
    margin: 0;
 }
.experience__container{
    display: flex;
    justify-content: center;
}

.experience__container > div{
    /* background: var(--color-bg-variant); */
    background: black;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

/* .experience__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor:default;
} */

.experience__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.rol {
    color: var(--color-white) !important;
    padding-right: 1rem;
}

.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
}

.experience__details{
    display: flex;
    gap: 1rem;
    justify-content: center;    
}

/* .experience__details-icon{
    margin-top:6px;
    color: var(--color-primary);
} */

/* TIME LINE */
.content-tl {
    /* background-color: blue; */
    display: block;
}
.time-line {
    color: aliceblue;
    padding: 10vh 21vh 1vh 35vh;
    width: 100%;
}

.discover {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background-color: var(--color-primary-variant);
}

.tlBody {
    color: var(--color-white);
    width: 80vh;
}

.tlTime {
    color: var(--color-primary);
}

.tlTitle {
    color: var(--color-primary);
    font-weight: bold;
}
.tlBody, .tlTime, .tlTitle {
    font-family: "Poppins", sans-serif;
}
@media  screen and (max-width: 1024px) {
    .experience__container{
        grid-template-columns: 1fr;
    }

    .experience__container > div{
        /* width: 80%; */
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content{
        padding: 1rem;
    }

}

@media (37.5em <= width <= 55em) {
    .time-line {
        padding: 33px 102px;
    }

    .tlBody {
        /* color: var(--color-white); */
        width: 70vh;
    }
  }
 /* Media Queries (phones) */

 @media  screen and (max-width: 600px) {

    .experience__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
    }

    .experience__container{
        gap: 1rem;
    }

    .experience__container > div{
        width: 100%;
        padding: 2rem 1rem;
    }

    .time-line {
        display: flex;
        justify-content: center;
        color: var(--color-white);
        padding: 33px 102px;
        width: 100%;
        /* background-color: red; */
    }


    .tlBody {
        color: var(--color-white);
        /* width: 20vh; */
        width: 100%;
    }
 }

 